/*//////////////////////////////////////////////////////////////////
[ Table ]*/


table {
  border-spacing: 1;
  border-collapse: collapse;
  background: white;
  border-radius: 10px;
  overflow: hidden;
  width: 100%;
  margin: 0 auto;
  position: relative;
}
table * {
  position: relative;
}
table td, table th {
  padding-left: 8px;
}
table thead tr {
  height: 35px;
  background: #36304a;
}
table tbody tr {
  height: 40px;
}
table tbody tr:last-child {
  border: 0;
}
table td, table th {
  text-align: center;
}
table td.l, table th.l {
  text-align: center;
}
table td.c, table th.c {
  text-align: center;
}
table td.r, table th.r {
  text-align: center;
}


.table100-head th{
  font-size: 16px;
  color: #fff;
  line-height: 1.2;
  font-weight: unset;
}

tbody tr:nth-child(even) {
  background-color: #dcdcdc;
}

tbody tr {
  font-size: 16px;
  color: black;
  line-height: 1.2;
  font-weight: unset;
}


@media screen and (max-width: 992px) {
  table tbody tr td:before {
    font-size: 12px;
    color: black;
    line-height: 1.2;
    font-weight: unset;
    position: absolute;
    width: 40%;
    left: 30px;
    top: 0;
  }
}